extends ../layouts/default

block content
	#home.content.invisible
		.page-header
			h1.red Hi.
			h2.white My name is Christian.
			h2.white Welcome to my site.
			h3.white The site is under construction so don't freak out due to the lack of content.
            
	
	
	#portfolio.content.invisible
		.page-header
			h1 Stuff I've done.
			h3.black Just a little grid of things I've done in the past. As the site is under construction, at a later time there will be an option to view a project in more detail. For now, settle with these pretty images and cool hover effects.
		#portfolio-container
			each project in projects
				.portfolio-project
					portfolio-image
						a(href= project.url)
							img(src="images/portfolio/#{project.image}")
	
	
	
	#about.content.invisible
		.page-header
			h1 My story.
			h2.black It will be about dragons,
			h2.black love and the internet!
			h3.black It will also be added at a later time when I've actually written it
	
	
	
	//#contact.content.invisible
		<section class="contact-form-pagination-container">
			<div class="contact-form-pagination page-1" style="background:#ff0000"></div>
			<div class="contact-form-pagination page-2" style="background:#00ff00"></div>
			<div class="contact-form-pagination page-3" style="background:#0000ff"></div>
			<div class="contact-form-pagination page-4" style="background:#ff00ff"></div>
		</section>

		<section class="page-header">
			<h2 class="black">Currently not working!</h2>
			<h2><a class="red" href="mailto:mail(at)christiangrimsgaard.net">Mail me instead</a>.</h2>
		</section>

		<section class="contact-form-container">
			<form name="contact-form" action="" method="post" onsubmit="return cg.form.name.check()">
				<section class="form-fragment form-fragment-0 focus">
					<h1>Who are you?</h1>
					<h3>Type your name and hit enter like you mean it.</h3>
					<p>The fact that you're right here right now, means you are awesome and I like you. I would love for us to get in contact, but for that to happen I first need you to tell me a few fun-facts about yourself.</p>    
					<input type="text" name="name" placeholder="e.g. Steve Jobs">
				</section>
				<section class="form-fragment form-fragment-1">
					<h1>How can I get hold of you?</h1>
					<h3>Type your email address, hit enter and your biceps will grow with 10%.</h3>
					<p>I will not spam you. I promise. Not even once. Well, one tiny little mail about how you will meet the love of your life if you forward it to ten people within ten minutes, <em>might</em> slip through, though...</p>
					<input type="text" name="email" placeholder="e.g. rowan@kins.on">
				</section>
				<section class="form-fragment form-fragment-2">
					<h1>What is this about?</h1>
					<h3>Answer the question above and hit enter. I would love if you did it right.</h3>
					<p>I'm not being defensive, I'm just curious. Also the mail I'm sending to myself needs a subject.</p>
					<input type="text" name="subject" placeholder="e.g. You're handsome">
				</section>
				<section class="form-fragment form-fragment-3">
					<h1>How many words can you write?</h1>
					<h3>Last step! Write a message to me and hit enter to send.</h3>
					<p>I am getting all excited about this. Soon I will have a new mail in my inbox and you will be just seconds away from getting a new friend!</p>
					<textarea name="message" placeholder="e.g. Hello. I really like your website. We should meet and I will buy you a coffee. For real."></textarea>