/* Author: Christian Grimsgaard

*/
#portfolio-container .portfolio-project {
  display: inline-block;
  width: 25rem;
  height: 25rem;
}
#portfolio-container .portfolio-project .portfolio-image,
#portfolio-container .portfolio-project .portfolio-image img {
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
}
#portfolio-container .portfolio-project .portfolio-image {
  width: 20rem;
  height: 20rem;
  margin: 2.5rem;
  overflow: hidden;
  border-radius: 15rem;
}
#portfolio-container .portfolio-project .portfolio-image img {
  width: 25rem;
  height: 25rem;
  display: block;
  margin: -2.5rem;
}
#portfolio-container .portfolio-project:hover .portfolio-image {
  width: 25rem;
  height: 25rem;
  margin: 0;
  border-radius: 0;
}
#portfolio-container .portfolio-project:hover .portfolio-image img {
  margin: 0;
}
